/* 預設 */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: #A6C5D0;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
}

img {
    mix-blend-mode: darken;
}

.container {
    display: flex;
    justify-content: center;
}

.set_width {
    width: 1280px;
    overflow: hidden;
}

main,
aside {
    margin-top: 32px;
}


/* 頁標css */

header {
    width: 100%;
    display: inline-block;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D7D7D7;
}

.header_nav {
    width: 1280px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list {
    display: inline-flex;
}

.nav_list_item {
    margin-left: 26px;
    width: 136px;
    height: 33px;
    background-color: #AAA28E;
    text-align: center;
    line-height: 33px;
}

.nav_list_item a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #203A74;
}

.header_alert {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/Damage-area-LAquila-earthquake-2009.jpg");
    background-position: center;
}

.red {
    width: 400px;
    height: 60px;
    line-height: 60px;
}

.red a {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: red;
}


/* 主頁面css */

.content {
    display: flex;
    justify-content: space-between;
}

.content img {
    mix-blend-mode: multiply;
}

.loc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    height: 330px;
    background-color: #7aa4b7;
    margin-bottom: 20px;
}

.loc_text {
    display: inline-block;
    align-items: center;
    text-align: center;
}

.loc_text h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 64px;
}

.air {
    width: 600px;
    height: 250px;
    background-color: #7AA4B7;
    overflow: hidden;
}

.air_1 {
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.air p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.air_pollution {
    font-family: 'Roboto', sans-serif;
    font-size: 144px;
    line-height: 144px;
    width: auto;
}

.air_pollution::after {
    content: 'AQI';
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    display: block;
    line-height: 0px;
    text-align: end;
}

.content_detailed h2::after {
    content: '℃';
}


/* 頁腳css */

footer {
    /* position: relative; */
    background-color: #D7D7D7;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_content {
    width: 1280px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    /* 試圖置中頁腳 */
    /* position: absolute; */
    /* left: 50%; */
    /* right: 50%; */
    /* transform: translate(-50% -50%); */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.footer_nav {
    text-align: center;
}

.footer_nav a {
    color: #203A74;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}